In [1]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}, 'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}

print(emp_info)

{'Tom': {'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}, 'Kathy': {'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}}

In [27]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

d1 = {lst1[0]:{emp_key[0]:emp1_val[0],emp_key[1]:emp1_val[1],emp_key[2]:emp1_val[2]}}
d2 = {lst1[1]:{emp_key[0]:emp2_val[0],emp_key[1]:emp2_val[1],emp_key[2]:emp2_val[2]}}
d3 = {lst1[2]:{emp_key[0]:emp3_val[0],emp_key[1]:emp3_val[1],emp_key[2]:emp3_val[2]}}

d = {}
d.update(d1)
d.update(d2)
d.update(d3)

print(d)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [13]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])

80

In [14]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

d = {}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

for key in employees:
    d[key] = defaults

print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [2]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

DNA = ['A','T','C','G']
mRNA = ['U','A','G','C']

d = {}

i=0

for key in DNA:
    d[key] = mRNA[i]
    i += 1
    
print(d)

# Use a dictionary to provide the mapping of DNA to RNA bases.

{'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}

In [4]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}


def count_letter(word):
    
    l = [{x:word.count(x)} for x in word]

    d = {}

    for a in l:
        d.update(a)
    
    return(d)

s = count_letter('google.com')
print(s)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [8]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def baseComposition(word):
    
    l = [{x:word.count(x)} for x in word]

    d = {}

    for a in l:
        d.update(a)
    
    return(d)

s = baseComposition("CTATCGGCACCCTTTCAGCA")
print(s)

s1 = baseComposition("CTATCGGCACCCTTTCAGCA")
print(s1)

d = {}
d.setdefault("Name", "Tom")

{'C': 8, 'T': 5, 'A': 4, 'G': 3}
{'C': 8, 'T': 5, 'A': 4, 'G': 3}

'Tom'

In [ ]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

5. None of the above

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

2. d.values

In [ ]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

4. d = { ["First", "Last"]: (1,3) }      # only immutable data types for keys

In [12]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(dic , v):
    lst = []
    
    for x in dic:
        if dic[x] == v:
            lst.append(x)
            
    return lst

print(reverseLookup({'a':1, 'b':2, 'c':2}, 1))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 2))
print(reverseLookup({'a':1, 'b':2, 'c':2}, 3))

['a']
['b', 'c']
[]

In [34]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(dic):
    dic2 = {}

    for x in dic:
        if dic[x] not in dic2:
            dic2[dic[x]] = x
        
        else:
            dic2[dic[x]] = [dic2[dic[x]],x]
            
    return dic2

invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})

{1: 'a', 2: ['b', 'd'], 3: 'c'}

In [17]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(lst):
    d = {}
    i = 0
    for x in lst:
        if x!=0:
            d[i] = x
        i += 1
            
    return d

print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))
print(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]))
print(convertVector([0, 0, 0, 0, 0]))

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [34]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def convertDictionary(dic):
    
    lst = []
    i=0
    
    if len(dic)>0:
        for x in dic:
            num = x
    else:
        return lst
    
    lst = []
    i=0
    
    for i in range(num):
        if i in dic:
            if dic[i] != 0:
                lst.append(dic[i])
            
        else:
            lst.append(0)
        
        i+=1
    
    return lst

print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))
print(convertDictionary({}))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0]
[1, 0, 1, 0, 2, 0, 1, 0, 0]
[]

In [7]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500

sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [10]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

a = 1000000000
b = ''

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

for x in sampleDict:
    if sampleDict[x] < a:
        a = sampleDict[x]
        b = x
    
    else:
        continue
        
print(b)

Math

In [15]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['Location'] = sampleDict.pop('city')
        
print(sampleDict)

# sampleDict['Location'] = sampleDict['city']
# del sampleDict['city']

# print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [5]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

sampleDict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sampleDict.values():
    print(True)
    
else:
    print(False)


# Expected Output: True

True

In [13]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"}
  
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"}
    
sampleDict.pop('name')
del sampleDict['salary']
print(sampleDict)

{'age': 25, 'city': 'New york'}